@media (min-width: 576px) {

  /* header */
  .burger {
    width: 36px;
    height: 28px;
  }

  .burger__span {
    top: 13px;
    width: 30px;
    height: 3px;
  }

  .burger__span::before {
    width: 36px;
    height: 3px;
    top: -11px;
  }

  .burger__span::after {
    bottom: -13px;
    width: 24px;
    height: 3px;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .navbar-close {
    width: 37px;
    height: 37px;
  }

  .navbar-close::before {
    height: 3px;
  }

  .navbar-close::after {
    width: 3px;
  }

  .nav-list {
    margin: 0;
  }

  .hav-items-href {
    font-size: 24px;
    line-height: 64px;
  }

  .login {
    margin: 0 0 0 2px;
    padding: 3px 0 0 0;
    width: 257px;
    height: 60px;
    font-size: 18px;
    line-height: 25px;
  }

  .login-pict {
    margin: 0px 7px 0 0;
    width: 13px;
    height: 13px;
  }

  .nav-search.search-active {
    padding: 3.73vw 0 0 0;
    height: 80px;
  }

  .nav__search_button {
    width: 23px;
    height: 23px;
    -webkit-transform: translate(-15px, 2px);
    -ms-transform: translate(-15px, 2px);
    transform: translate(-15px, 2px);
  }

  .nav__search.search-active .nav__search_input {
    width: 75vw;
  }

  .nav-search-close {
    top: 4.43vw;
    right: 0;
    width: 36px;
    height: 36px;
  }

  /* hero */
  .hero {
    min-height: 96.87vw;
  }

  .hero-content__text {
    font-size: 2.34vw;
    line-height: 3.9vw;
  }

  .hero-content__button {
    min-width: 314px;
    min-height: 70px;
    width: auto;
    height: auto;
    font-size: 18px;
    line-height: 25px;
  }

  .hero-swiper-slide-1 {
    background-image: url(../img/768/hero/hero__swiper-1-768.png);
  }

  .hero-swiper-slide-2 {
    background-image: url(../img/768/hero/hero__swiper-2-768.png);
  }

  .hero-swiper-slide-3 {
    background-image: url(../img/768/hero/hero__swiper-3-768.png);
  }

  /* about_us */
  .section-header {
    font-size: 6.25vw;
    line-height: 8.46vw;
  }

  .about-us__text {
    font-size: 16px;
    line-height: 32px;
  }

  /* gallery */
  .choices {
    width: 280px;
    min-height: 40px;
  }

  .swiper-gallery {
    height: 87.27vw;
  }

  .gallery-swiper-wrapper {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }

  .gallery-slide {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    height: calc((100% - 10px)/2);
  }

  .gallery-modal {
    height: 100%;
  }

  .gallery-modal-wrapper {
    top: calc((100vh - 77.34vw)/2);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 77.34vw;
    height: 77.34vw;
  }


  .gallery-modal-picture {
    width: 39.19vw;
    height: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .gallery-modal-picture__img {
    display: inline;
  }

  .gallery-modal-close {
    top: 16px;
    right: 17px;
  }

  /* catalog */
  .catalog-tabs__list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .ui-tabs .ui-tabs-nav li {
    margin: 0 6.94vw 0 0;
  }

  .catalog-accordion-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .catalog-accordion-list__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .accordion-unknown {
    width: 80vw;
  }

  .accordion-unknown-right {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 48%;
    flex: 1 0 48%;
    height: 165px;
  }

  /* events */
  .swiper-wrapper-events {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 5.2vw 0;
  }

  .events-slide {
    margin: 0 0 1.56vw;
    width: 44.27vw;
  }

  .events-slide:nth-child(n + 3) {
    display: none;
  }

  .events-slide__content {
    min-height: 683px;
  }

  .events-slide__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 26.04vw;
    flex: 0 1 26.04vw;
  }

  .events-slide__small {
    margin-bottom: 10px;
  }

  .events-slide__block {
    min-height: 225px;
  }

  .events-slide__header {
    margin-bottom: 20px;
  }

  .swiper-pagination-events {
    display: none;
  }

  .swiper-events-hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  .swiper-events-hide__button {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 188px;
    min-height: 59px;
    color: var(--color-violet);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid var(--color-violet);
    border-radius: 100px;
    -webkit-transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
  }

  .swiper-events-hide__button::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 198px;
    height: 69px;
    border: 1px solid var(--color-violet-href);
    border-radius: 100px;
    visibility: hidden;
    -webkit-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -o-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  }

  .swiper-events-hide__button:focus::before {
    visibility: visible;
    opacity: 1;
  }

  .swiper-events-hide__button:hover {
    color: var(--color-white);
    border: 2px solid var(--color-violet);
    background-color: var(--color-violet);
  }

  .swiper-events-hide__button:active {
    color: var(--color-white);
    background-color: var(--color-violet);
    border: 2px solid var(--color-violet-focus);
  }

  /* publocations */
  .container-publications {
    padding: 50px 50px 45px 50px;
  }

  .publications-select__list-collapsed {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .publications-select__header {
    border: none;
    pointer-events: none;
    cursor: auto;
  }

  .publications-select__header::before {
    display: none;
  }

  .publications-select__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
  }

  .publications-select__span-close {
    display: none;
  }

  .publication-book-swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .publication-book-swiper {
    max-width: 79.94vw;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }

  .publication-book-slide {
    margin: 0 34px 5px 0;
    width: 37.76vw;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }

  .publication-book-slide:nth-child(2n) {
    margin: 0 34px 0 0;
  }

  .publication-book-swiper-wrapper {
    -ms-flex-wrap: unset;
    flex-wrap: unset;
  }

  .publication-book-swiper-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 30px 0;
  }

  .publication-book-swiper-pagination {
    position: static;
    width: auto;
    color: var(--color-white);
  }

  .publication-book-swiper-button {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    background: #666;
    border-radius: 50%;
    -webkit-transition: background 0.2s ease-in, border 0.2s ease-in;
    -o-transition: background 0.2s ease-in, border 0.2s ease-in;
    transition: background 0.2s ease-in, border 0.2s ease-in;
    z-index: 11;
  }

  .publication-book-swiper-button-next {
    margin: 0 0 0 11px;
  }

  .publication-book-swiper-button-prev {
    margin: 0 11px 0 0;
  }

  .publication-book-swiper-button:hover {
    background: var(--color-violet);
  }

  .publication-book-swiper-button:active {
    background: var(--color-violet-active);
    border: 2px solid var(--color-black);
  }

  .publication-book-swiper-button-next::after,
  .publication-book-swiper-button-prev::after {
    content: "";
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .publication-book-swiper-button-prev::after {
    border-left: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
  }

  .publication-book-swiper-button-next::after {
    border-top: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
  }

  /* contacts */
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contacts__header {
    -ms-flex-preferred-size: 91%;
    flex-basis: 91%;
  }

  .contacts-map-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 100%;
  }

  .contacts-map__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 36px 0;
    height: auto
  }

  .contacts-map {
    width: 44.01vw;
  }

  .contacts-map__navigation {
    margin: 0;
    height: 91.14vw;
  }

  .ymaps-2-1-79-map {
    width: 100% !important;
    height: 100% !important;
  }

  .ymaps-2-1-79-map-bg {
    width: 100%;
    height: 100%;
  }

  .contacts-form {
    width: 43.62vw;
    margin: 0 45px 0 50px;
    padding: 54px 0 0 0;
  }

  /* footer */
  .container-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 50px;
  }

  .footer-logo {
    width: 173px;
    height: 40px;
  }

  .footer-social-list {
    margin: 0;
  }

  .footer-social-item {
    width: 60px;
    height: 60px;
  }
}
