@media (min-width: 1024px) {
  .row {
    width: 90.23%;
  }

  /* header */
  .navbar {
    height: 769px;
  }

  .logo {
    margin-left: -5px;
  }

  .login {
    padding: 3px 3px 0 0px;
  }

  .nav-search-wrapper {
    width: 29px;
  }

  .nav-search.search-active .nav-search__button {
    margin: 13px 9px 0 4px;
  }

  /* hero */
  .hero-content {
    padding: 112px 50px 115px 0;
  }

  .hero-content__heading {
    margin: 0 0 12px 0;
    width: 80%;
    line-height: 83px;
  }

  .hero-swiper-slide-1 {
    background-image: url(../img/1024/hero/hero__swiper-1_1024.png);
  }

  .hero-swiper-slide-2 {
    background-image: url(../img/1024/hero/hero__swiper-2_1024.png);
  }

  .hero-swiper-slide-3 {
    background-image: url(../img/1024/hero/hero__swiper-3_1024.png);
  }

  /* gallery */
  .container-gallery {
    margin: 0 0 77px 0;
    background-image: url(../img/1024/gallery/gallery-background_1024.png);
  }

  .gallery-header {
    margin: 0 13.9vw 19px 0;
  }

  .fillter-gallery-wrapper {
    margin: -4px 0 0 0;
  }

  .gallery-swiper-navigation {
    margin: 0 0 29px 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .swiper-gallery {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58vw;
    flex: 0 0 58vw;
    margin: -60px 0 11px 0;
    width: 58vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .gallery-swiper-wrapper {
    height: 58vw;
  }

  .gallery-slide {
    margin-top: 0 !important;
    margin-bottom: 34px !important;
    height: calc((100% - 34px)/2);
  }

  .gallery-modal-wrapper {
    width: 594px;
  }

  .gallery-modal-picture {
    width: 264px;
  }

  .gallery-modal-content {
    padding: 122px 46px 122px 49px;
  }

  /* catalog */
  .catalog-header {
    margin: 3px 42px 15px 0;
  }

  .ui-tabs .ui-tabs-nav li:not(:last-child) {
    margin: 13px 50px 0 0;
  }

  .ui-tabs .ui-tabs-nav li:last-child {
    margin: 13px 0 0 0;
  }

  .catalog-tabs__text {
    margin: 0 0 39px 0;
    font-size: 16.1px;
  }

  .catalog-artists-wrapper {
    margin: 0 50px 0 0;
    width: calc((100% - 50px)/2);
  }

  .catalog-artists-box__text {
    padding: 0;
  }

  .catalog-tabs-content-wrapper {
    width: calc((100% - 50px)/2);
  }

  .catalog-accordion-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }


  /* events */
  .swiper-events {
    margin: 0 0 23px 0;
  }

  .swiper-wrapper-events {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .events-slide:nth-child(2n+1) {
    margin: 0 2.63vw 2.63vw 0;
  }

  .events-slide:nth-child(3n) {
    margin: 0 0 2.63vw 0;
  }

  .events-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2.63vw 2.63vw 0;
    width: 28.3vw;
  }

  .events-slide:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .events-slide:nth-child(n+4) {
    display: none;
  }

  .events-slide__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    height: 19.53vw;
  }

  .events-slide__img-1 {
    background-image: url(../img/1024/events/events_1024-1.png);
  }

  .events-slide__img-2 {
    background-image: url(../img/1024/events/events_1024-2.png);
  }

  .events-slide__img-3 {
    background-image: url(../img/1024/events/events_1024-3.png);
  }

  .events-slide__img-4 {
    background-image: url(../img/1024/events/events_1024-4.png);
  }

  .events-slide__img-5 {
    background-image: url(../img/1024/events/events_1024-5.png);
  }

  .events-slide__header {
    margin-bottom: 19px;
  }

  .events-slide__text {
    padding: 0 8px 0 0;
  }

  .events-slide__href {
    bottom: 52px;
  }

  /* publications */
  .container-publications {
    padding: 81px 50px 80px 50px;
    background-image: url(../img/1024/publications/publications-background_1024.png);
  }

  .publications-select {
    margin: 0 0 25px 0;
  }

  .publications-select__header {
    margin: 0 0 7px 0;
  }

  .publications-select__list-collapsed {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .publications-select__item {
    margin: 0 0 9px 0;
  }

  .publication-price__form {
    margin: 0 13px 0 0;
  }

  .publication-book-swiper-box {
    margin-top: -45px;
  }

  .publication-book-swiper {
    padding-left: 5px;
    max-width: 100%;
    width: 61.82vw;
  }

  .publication-book-swiper-navigation {
    margin: 0 0 28px 6px;
  }

  .publication-book-slide {
    margin: 0;
    width: 28.32vw;
  }

  .publication-book-slide:nth-child(2n) {
    margin: 0 49px 0 0;
  }

  .publication-book-slide:not(:last-child) {
    margin: 0 49px 0 0;
  }

  .publication-book-slide-content__price {
    top: 32.51vw;
  }

  /* project */
  .container-project {
    margin: 0 0 81px 0;
  }

  .project-content {
    margin: 0 0 19px 0;
  }

  .project-content__tultip:nth-child(1) {
    -webkit-transform: translate(-4px, 2px);
    -ms-transform: translate(-4px, 2px);
    transform: translate(-4px, 2px);
  }

  .project-content__tultip:nth-child(2) {
    -webkit-transform: translate(-2px, 3px);
    -ms-transform: translate(-2px, 3px);
    transform: translate(-2px, 3px);
  }

  .project-content__tultip:nth-child(3) {
    -webkit-transform: translate(-3px, 2px);
    -ms-transform: translate(-3px, 2px);
    transform: translate(-3px, 2px);
  }

  .project-partners__header {
    margin: 0 0 23px 0;
  }

  .project-partners-swiper {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 79.93vw;
    flex: 0 1 79.93vw;
    height: 128px;
  }

  /* contacts */
  .contacts-form {
    padding: 123px 9.86vw 0 4.88vw;
    width: 47.55vw;
  }
}
