@media (min-width: 1920px) {

  /* header */
  .header {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .logo {
    margin: 0 9.32vw 0 0;
  }

  .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 14.53vw 0 0;
  }

  .nav-list {
    padding: 0;
  }

  .nav-items:not(:last-child) {
    margin: 0 3.25vw 0 0;
  }

  .submenu {
    bottom: -70%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .sibmenu-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 11.55vw 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .submenu-list-items {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .submenu-list-items:nth-child(1) {
    margin: 0 5.78vw 0 0;
  }

  .submenu-list-items:nth-child(2) {
    margin: 0 5.93vw 0 0;
  }

  .submenu-list-items:nth-child(3) {
    margin: 0 6.7vw 0 0;
  }

  .submenu-list-items:nth-child(4) {
    margin: 0px 5.98vw 0 0;
  }

  .submenu-list-items:nth-child(3)>.submenu-list-items__button {
    letter-spacing: 1.9px;
  }

  .nav-search__button {
    margin: 0 9px 0 0;
  }

  .nav-search__input {
    margin: 2px 0 0 0;
  }

  /* hero */
  .hero-content {
    padding: 140px 50px 122px 0;
  }

  .hero-content__heading {
    margin: 0 0 20px 0;
  }

  .hero-content__text {
    margin: 0 0 92px 0;
    width: 80%;
  }

  /* about_as */
  .about-us__text {
    width: 67%;
  }

  /* gallery */
  .container-gallery {
    margin: 0 0 78px 0;
    padding: 81px 0 69px 0;
  }

  .swiper-gallery {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60vw;
    flex: 0 0 60vw;
    width: 60vw;
  }

  .gallery-swiper-navigation {
    margin: 0 0 29px 5px;
  }

  .gallery-slide {
    margin-bottom: 50px !important;
    height: calc((100% - 50px)/2);
  }

  .swiper-gallery-button-prev {
    margin: 0 9px 0 0;
  }

  .swiper-gallery-button-next {
    margin: 0 0 0 9px;
  }

  /* catalog */
  .ui-tabs .ui-tabs-nav {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }

  .catalog-tabs__text {
    margin: 0 0 38px 0;
    width: 68%;
    text-align: start;
  }

  .catalog-artists-box-wrapper-img__img {
    margin: 0 0 22px 0;
  }

  .catalog-accordion-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  /* events */
  .swiper-events {
    margin: 0;
  }

  .events-slide__img {
    height: 15.62vw;
  }

  .events-slide__img-1 {
    background-image: url(../img/1920/events/events_1920-1.jpg);
  }

  .events-slide__img-2 {
    background-image: url(../img/1920/events/events_1920-2.jpg);
  }

  .events-slide__img-3 {
    background-image: url(../img/1920/events/events_1920-3.jpg);
  }

  .events-slide__img-4 {
    background-image: url(../img/1920/events/events_1920-4.png);
  }

  .events-slide__img-5 {
    background-image: url(../img/1920/events/events_1920-5.png);
  }

  .events-slide__info {
    padding: 16px 24px 46px 49px;
  }

  .events-slide__small {
    margin: -2px -6px 8px 0;
  }

  .events-slide__content {
    min-height: auto;
  }

  .events-slide__header {
    margin-bottom: 20px;
  }

  .events-slide__info {
    min-height: 400px;
  }

  .events-slide__block {
    min-height: 100%;
  }

  .events-slide__text {
    padding: 0 15px 0 0;
  }

  .events-slide__href {
    position: absolute;
    bottom: 44px;
    left: 51px;
    margin: 0;
    padding-bottom: 2px;
  }

  /* publications */
  .container-publications {
    background-image: url(../img/1920/publications/publications-background_1920.jpg);
  }

  .publication-book-swiper {
    width: 59.8vw;
  }

  .publication-book-slide-wrapper {
    margin: 0 0 23px 0;
  }

  .container-publications {
    padding: 81px 8.33vw 75px 8.33vw;
  }

  /* project */
  .container-project {
    margin: 0 0 80px 0;
  }

  .project-partners__header {
    margin: 0 0 24px 0;
  }

  .project-content {
    width: 66%;
  }

  /* contacts */
  .contacts-form__input {
    margin: 0 0 22px 0;
  }

  .contacts-social__item:not(:last-child) {
    margin: 0 19px 0 0;
  }

  .contacts-social__item {
    width: 40px;
    height: 40px;
  }

  /* footer */
  .container-footer {
    padding: 50px 8.33vw;
  }

  .footer-social-item {
    width: 45px;
    height: 45px;
  }

  .footer-social-item:not(:last-child) {
    margin: 0 20px 0 0;
  }
}
