@media (min-width: 1200px) {

  /* header */
  .container-header {
    position: relative;
  }

  .header {
    position: static;
  }

  .burger {
    display: none;
  }

  .logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0;
    width: 173px;
    height: 40px;
  }

  .login-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border: none;
    border-radius: 0;
  }

  .login-wrapper:focus-within {
    border: none;
  }

  .login {
    margin: 0;
    padding: 3px 5px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    background: none;
  }

  .login-wrapper:hover .login-pict {
    fill: var(--color-violet-hover);
  }

  .login-wrapper:active .login-pict {
    fill: var(--color-violet-active);
  }

  .login::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 12px);
    height: calc(100% + 6px);
    background-color: var(--color-violet-active);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    -webkit-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -o-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  }

  .login-wrapper:hover .login {
    color: var(--color-violet-href);
    background-color: transparent;
  }

  .login-wrapper:active .login {
    color: var(--color-violet-active);
    background-color: transparent;
  }

  .login-wrapper:focus .login::after {
    visibility: visible;
    opacity: 1;
  }

  .login-wrapper:hover .login::before {
    background-image: url('../img/320/nav/login-hover.svg');
  }

  .navbar {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 0 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 64.5vw;
    height: 100%;
    overflow: hidden;
  }

  .navbar-close {
    display: none;
  }

  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
    padding: 0 5px;
  }

  .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-items:not(:last-child) {
    margin: 0 3.22vw 0 0;
  }

  .hav-items-href {
    font-size: 18px;
    line-height: 25px;
  }

  .submenu {
    position: absolute;
    bottom: -70%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 19px 4.87vw;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  .submenu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .sibmenu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 16.35vw 0 0;
    width: 100%;
    max-width: 60.92vw;

  }

  .submenu-list-items {
    position: relative;
  }

  .submenu-list-items:not(:last-child) {
    margin-right: 20px;
  }

  .submenu-list-items__button {
    position: relative;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
    -webkit-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
    z-index: 10;
  }

  .submenu-list-items__button:hover {
    color: var(--color-violet-href);
  }

  .submenu-list-items__button:active {
    color: var(--color-violet-active);
  }

  .submenu-list-items__button:focus-visible {
    outline: none;
  }

  .submenu-list-items__button::before {
    content: "";
    position: absolute;
    top: 7px;
    right: -12px;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: margin 0.2s ease-in, border 0.2s ease-in, -webkit-transform 0.2s ease-in;
    transition: margin 0.2s ease-in, border 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -o-transition: margin 0.2s ease-in, transform 0.2s ease-in, border 0.2s ease-in;
    transition: margin 0.2s ease-in, transform 0.2s ease-in, border 0.2s ease-in;
    transition: margin 0.2s ease-in, transform 0.2s ease-in, border 0.2s ease-in, -webkit-transform 0.2s ease-in;
  }

  .submenu-list-items__button:hover::before {
    border-bottom: 2px solid var(--color-violet-href);
    border-right: 2px solid var(--color-violet-href);
  }

  .submenu-list-items__button:active::before {
    border-bottom: 2px solid var(--color-violet-active);
    border-right: 2px solid var(--color-violet-active);

  }

  .submenu-list-items__button.is-active::before {
    margin: 4px 0 0 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  .submenu-list-items__button::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 29px);
    height: calc(100% + 6px);
    background-color: var(--color-violet-active);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -o-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    z-index: -1;
  }

  .submenu-list-items__button:focus::after {
    visibility: visible;
    opacity: 1;
  }

  .submenu-list-wrapper {
    position: absolute;
    top: 158%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 40px 40px;
    width: 300px;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    z-index: 11;
    max-height: 300px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }

  .submenu-list-wrapper.active {
    display: flex;
    animation: dropdownOpen 1s;
    opacity: 1;
  }

  .submenu-list-wrapper.disactive {
    display: flex;
    animation: dropdownClose 1s;
    opacity: 0;
  }

  @keyframes dropdownOpen {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }

  }

  @keyframes dropdownClose {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }

  }

  .submenu-list-wrapper-box {
    width: 240px;
    height: 220px;
  }

  .submenu-dropdown-list {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 220px;
  }


  .simplebar-scrollbar::before {
    width: 2px;
    background: var(--color-white);
    border-radius: 0;
    opacity: 1 !important;
  }

  .submenu-dropdown-items:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .submenu-dropdown-items-tintoretto {
    background-image: url(../img/1920/nav/nav__real_1.png);
  }

  .submenu-dropdown-items-fridrih {
    background-image: url(../img/1920/nav/nav__real_2.png);
  }

  .submenu-dropdown-items-leonardo {
    background-image: url(../img/1920/nav/nav__real_3.png);
  }

  .submenu-dropdown-items-verrokko {
    background-image: url(../img/1920/nav/nav__real_4.png);
  }

  .submenu-dropdown-items-mone {
    background-image: url(../img/1920/nav/nav__imp_1.png);
  }

  .submenu-dropdown-items-sisley {
    background-image: url(../img/1920/nav/nav__imp_2.png);
  }

  .submenu-dropdown-items-mane {
    background-image: url(../img/1920/nav/nav__imp_3.png);
  }

  .submenu-dropdown-items-renuar {
    background-image: url(../img/1920/nav/nav__imp_4.png);
  }

  .submenu-dropdown-items-van-gog {
    background-image: url(../img/1920/nav/nav_post_1.png);
  }

  .submenu-dropdown-items-sezann {
    background-image: url(../img/1920/nav/nav_post_2.png);
  }

  .submenu-dropdown-items-gogen {
    background-image: url(../img/1920/nav/nav_post_3.png);
  }

  .submenu-dropdown-items-sera {
    background-image: url(../img/1920/nav/nav_post_4.png);
  }

  .submenu-dropdown-items-candinskiy {
    background-image: url(../img/1920/nav/nav__av_1.png);
  }

  .submenu-dropdown-items-marinetty {
    background-image: url(../img/1920/nav/nav__av_2.png);
  }

  .submenu-dropdown-items-malevich {
    background-image: url(../img/1920/nav/nav__av_3.png);
  }

  .submenu-dropdown-items-picasso {
    background-image: url(../img/1920/nav/nav__av_4.png);
  }

  .submenu-dropdown-items-karra {
    background-image: url(../img/1920/nav/nav__fut_1.png);
  }

  .submenu-dropdown-items-pratella {
    background-image: url(../img/1920/nav/nav__fut_2.png);
  }

  .submenu-dropdown-items-severiny {
    background-image: url(../img/1920/nav/nav__fut_3.png);
  }

  .submenu-dropdown-items-balla {
    background-image: url(../img/1920/nav/nav__fut_4.png);
  }

  .submenu-dropdown-items__href {
    position: relative;
    display: block;
    padding: 10px 14px;
    width: 220px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-white);
    outline: none;
    transition: background 0.2s ease-in;
  }

  .submenu-dropdown-items {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  .submenu-dropdown-items__href::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 216px;
    height: 37px;
    border: transparent;
    transition: border 0.2s ease-in;
  }

  .submenu-dropdown-items__href:hover::before {
    border: 2px solid var(--color-violet);
  }

  .submenu-dropdown-items__href:focus-visible {
    outline: none;
  }

  .submenu-dropdown-items__href:focus-visible::before {
    border: 2px solid var(--color-violet);
  }

  .submenu-dropdown-items__href:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  }

  .submenu-dropdown-items__href:active::before {
    border: 2px solid var(--color-violet);
  }

  .nav-search-wrapper {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 13.07vw;
  }

  .nav-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

  .nav-search__button {
    position: static;
    margin: 0 2px 0 0;
    width: 23px;
    height: 22px;
  }

  .nav-search__input {
    width: 86.5%;
  }

  .nav-search__input::-webkit-input-placeholder {
    color: var(--color-white);
    opacity: 1;
  }

  .nav-search__input::-moz-placeholder {
    color: var(--color-white);
    opacity: 1;
  }

  .nav-search__input:-ms-input-placeholder {
    color: var(--color-white);
    opacity: 1;
  }

  .nav-search__input::-ms-input-placeholder {
    color: var(--color-white);
    opacity: 1;
  }

  .nav-search__input::placeholder {
    color: var(--color-white);
    opacity: 1;
  }

  /* events */
  .swiper-wrapper-events {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .events-slide:nth-child(2n+1) {
    margin: 0 0 2.63vw 0;
  }

  .events-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 2.63vw 0;
    width: 28.32vw;
  }

  /* publications */
  .publication-wrapper {
    margin-right: 5vw;
    width: 23.14vw;
  }

  /* project */

  .project-partners-swiper__slide-img {
    width: 99%;
  }
}
