@media (min-width: 1920px) {
  .row {
    width: 1600px;
    margin: 0 auto;
  }

  /* header */
  .header {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .logo {
    margin: 0 179px 0 0;
  }

  .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 279px 0 0;
  }

  .nav-list {
    padding: 0;
  }

  .nav-items:not(:last-child) {
    margin: -1px 62.5px 0 0;
  }

  .login {
    padding: 3px 5px 4px 6px;
    font-size: 17px;
  }

  .submenu {
    bottom: -70%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0 18px 0;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .submenu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .sibmenu-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .submenu-list-items {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .submenu-list-items:nth-child(1) {
    margin: 0 111px 0 0;
  }

  .submenu-list-items:nth-child(2) {
    margin: 0 113px 0 0;
  }

  .submenu-list-items:nth-child(3) {
    margin: 0 154px 0 0;
  }

  .submenu-list-items:nth-child(4) {
    margin: 0 115px 0 0;
  }

  .submenu-list-items__button::before {
    top: 9px;
    right: -16px;
  }

  .submenu-list-items:nth-child(1)>.submenu-list-items__button::before {
    top: 8px;
    right: -12px;
  }

  .submenu-list-items:nth-child(2)>.submenu-list-items__button::before {
    top: 8px;
    right: -13px;
  }

  .submenu-list-items:nth-child(5)>.submenu-list-items__button::before {
    right: -14px;
  }

  .nav-search-wrapper {
    width: 251px;
  }

  .nav-search__button {
    margin: 0 9px 0 0;
  }

  .nav-search__input {
    margin: -1px 0 -1px 1px;
    padding-bottom: 2px;
    font-size: 18px;
  }

  /* hero */
  .hero-content {
    padding: 140px 50px 122px 0;
  }

  .hero-content__heading {
    margin: 0 0 20px 0;
  }

  .hero-content__text {
    margin: 0 0 92px 0;
    width: 80%;
  }

  /* about_as */
  .about-us__text {
    width: 67%;
  }

  /* gallery */
  .container-gallery {
    margin: 0 0 78px 0;
    padding: 81px 0 69px 0;
  }

  .gallery-header {
    margin: 0 0 19px 0;
  }

  .filter-gallery {
    margin: 0 50px 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
  }

  .swiper-gallery {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1150px;
    flex: 0 0 1150px;
    width: 1150px;
  }

  .gallery-swiper-wrapper {
    height: 750px;
  }

  .gallery-swiper-navigation {
    margin: 0 0 29px 5px;
  }

  .gallery-slide {
    margin-bottom: 50px !important;
    height: calc((100% - 50px)/2);
  }

  .swiper-gallery-button-prev {
    margin: 0 9px 0 0;
  }

  .swiper-gallery-button-next {
    margin: 0 0 0 9px;
  }

  /* catalog */
  .catalog-artists-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 750px;
    flex: 0 0 750px;
    margin: 0 50px 0 0;
  }

  .catalog-tabs-content-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 800px;
    flex: 0 0 800px;
  }

  .ui-tabs .ui-tabs-nav {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }

  .catalog-tabs__text {
    margin: 0 0 38px 0;
    width: 68%;
    text-align: start;
  }

  .catalog-artists-box-wrapper-img__img {
    margin: 0 0 19px 0;
  }

  .catalog-accordion-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  /* events */
  .swiper-events {
    margin: 0;
  }

  .events-slide {
    margin: 0 0 50px 0;
    width: 500px;
  }

  .events-slide:nth-child(2n+1) {
    margin: 0 0 50px 0;
  }

  .events-slide__img {
    height: 300px;
  }

  .events-slide__img-1 {
    background-image: url(../img/1920/events/events_1920-1.jpg);
  }

  .events-slide__img-2 {
    background-image: url(../img/1920/events/events_1920-2.jpg);
  }

  .events-slide__img-3 {
    background-image: url(../img/1920/events/events_1920-3.jpg);
  }

  .events-slide__img-4 {
    background-image: url(../img/1920/events/events_1920-4.png);
  }

  .events-slide__img-5 {
    background-image: url(../img/1920/events/events_1920-5.png);
  }

  .events-slide__info {
    padding: 16px 24px 46px 49px;
  }

  .events-slide__small {
    margin: -2px -6px 8px 0;
  }

  .events-slide__content {
    min-height: auto;
  }

  .events-slide__header {
    margin-bottom: 20px;
  }

  .events-slide__info {
    min-height: 400px;
  }

  .events-slide__block {
    min-height: 100%;
  }

  .events-slide__text {
    padding: 0 15px 0 0;
  }

  .events-slide__href {
    position: absolute;
    bottom: 44px;
    left: 51px;
    margin: 0;
    padding-bottom: 2px;
  }

  /* publications */
  .container-publications {
    display: flex;
    justify-content: center;
    padding: 81px 0 75px 0;
    background-image: url(../img/1920/publications/publications-background_1920.jpg);
  }

  .publications {
    max-width: 1600px;
  }

  .publication-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 227px;
    flex: 0 0 277px;
  }

  .publication-book-swiper-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1180px;
    flex: 0 0 1180px;
  }

  .publication-book-swiper {
    width: 1149px;
  }

  .publication-book-slide-wrapper {
    margin: 0 0 23px 0;
  }

  .publication-book-slide {
    width: 350px;
  }

  /* project */
  .container-project {
    margin: 0 0 80px 0;
  }

  .project-partners__header {
    margin: 0 0 24px 0;
  }

  .project-content {
    width: 66%;
  }

  .project-partners-swiper {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 1450px;
    flex: 0 1 1450px;
    height: 150px;
  }

  /* contacts */
  .container-contacts {
    margin: 0 auto;
    max-width: 1920px;
  }

  .contacts-form {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 123px 122px 0 160px;
    width: 682px;
  }

  .contacts-form__input {
    margin: 0 0 22px 0;
  }

  .contacts-social__item:not(:last-child) {
    margin: 0 19px 0 0;
  }

  .contacts-social__item {
    width: 40px;
    height: 40px;
  }

  .contacts-map {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1238px;
    flex: 0 0 1238px;
  }

  /* footer */
  .container-footer {
    padding: 50px calc((100vw - 1600px)/2);
  }

  .footer-social-item {
    width: 45px;
    height: 45px;
  }

  .footer-social-item:not(:last-child) {
    margin: 0 20px 0 0;
  }
}
