@media (min-width: 768px) {
  .row {
    width: 86.97%;
  }

  .section-header {
    font-size: 48px;
    line-height: 65px;
  }

  /* header */
  .container-header {
    height: 100px;
  }

  .burger::before {
    top: 0px;
  }

  .navbar {
    padding: 33px 10px 51px 48px;
    height: 768px;
  }

  .navbar-close {
    margin: 0 0 25px 0;
  }

  .navbar-close::before {
    height: 3px;
  }

  .navbar-close::after {
    width: 3px;
  }

  .nav-list {
    margin: 0 0 109px 0;
  }

  .hav-items-href {
    font-size: 24px;
    line-height: 64px;
  }

  .logo {
    margin-left: -4px;
    width: 188px;
    height: 42px;
  }

  .nav-search-wrapper {
    width: 29px;
  }

  .nav-search {
    margin-right: -2px;
    width: 30px;
    height: 29px;
  }

  .nav-search.search-active {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    top: 22px;
    right: 0;
    padding: 0;
    height: 75px;
  }

  .nav-search__button {
    width: 30px;
    height: 29px;
  }

  .nav-search.search-active .nav-search__button {
    margin: 13px 4px 0 35px;
  }

  .nav-search.search-active .nav-search__input {
    margin: 20px 0 0 5px;
    width: 75vw;
  }

  .nav-search__input::-webkit-input-placeholder {
    color: transparent;
  }

  .nav-search__input::-moz-placeholder {
    color: transparent;
  }

  .nav-search__input:-ms-input-placeholder {
    color: transparent;
  }

  .nav-search__input::-ms-input-placeholder {
    color: transparent;
  }

  .nav-search__input::placeholder {
    color: transparent;
  }

  .nav-search-close {
    top: 29px;
    right: -3px;
    width: 37px;
    height: 37px;
  }

  .nav-search-close__span::before {
    height: 3px;
  }

  .nav-search-close__span::after {
    width: 3px;
  }

  /* hero */
  .container-hero {
    margin: 0 0 80px 0;
  }

  .hero {
    min-height: 668px;
  }

  .hero-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 110px 10px 115px 0;
  }

  .hero-content__heading {
    margin: 0 0 10px 0;
    width: 90%;
    text-align: start;
    font-size: 72px;
    line-height: 85px;
  }

  .hero-content__text {
    margin: 0 0 134px 0;
    width: 100%;
    text-align: start;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }

  /* about_us */
  .about-us__header {
    margin: 0 0 15px 0;
  }

  .container-about-us {
    margin: 0 0 70px 0;
  }

  /* gallery */
  .container-gallery {
    margin: 0 0 79px 0;
    padding: 80px 0 69px 0;
    background-image: url(../img/768/gallery/gallery-background_768.png);
  }

  .gallery-header {
    margin: 0 0 15px 0;
  }

  .filter-gallery {
    margin: 0 0 49px 0;
  }

  .choices {
    margin: 11px 0 0 0;
  }

  .swiper-container-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .swiper-gallery {
    margin: 0 0 30px 0;
    height: 77.34vw;
  }

  .gallery-swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .swiper-gallery-button-prev {
    margin: 0 14px 0 0;
  }

  .swiper-gallery-button-next {
    margin: 0 0 0 14px;
  }

  .gallery-slide {
    margin-top: 0 !important;
    margin-bottom: 34px !important;
    height: calc((100% - 34px)/2);
  }

  .gallery-slide:active {
    -webkit-filter: hue-rotate(255deg) brightness(80%);
    filter: hue-rotate(255deg) brightness(80%);
  }

  .gallery-swiper-navigation {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin: 0 0 28px 0;
  }

  .gallery-slide::before {
    content: '';
    position: absolute;
    width: 82.75%;
    height: 86.37%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -o-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  }

  .gallery-slide::after {
    content: '';
    position: absolute;
    width: 81px;
    height: 79px;
    background-image: url(../img/320/gallery/gallery-modal.svg);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -o-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  }

  .gallery-slide:hover::before,
  .gallery-slide:hover::after {
    visibility: visible;
    opacity: 1;
  }

  .gallery-authorization {
    margin: 0;
  }

  .gallery-modal-wrapper {
    top: calc((100vh - 604px)/2);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 668px;
    height: 594px;
  }

  .gallery-modal-picture {
    width: 301px;
  }

  .gallery-modal-content {
    padding: 122px 36px 122px 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
  }

  .gallery-modal-heading {
    margin: 0;
  }

  .gallery-modal-name-painting {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  .gallery-modal-year-painting {
    margin: 0 0 32px 0;
  }

  .gallery-modal-text {
    font-size: 16px;
    line-height: 32px;
  }

  /* catalog */
  .container-catalog {
    margin: 0 0 87px 0;
  }

  .catalog-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 3px 39px 15px 0;
  }

  .catalog-tabs__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  .ui-tabs .ui-tabs-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }

  .ui-tabs .ui-tabs-nav li {
    margin: 0;
  }

  .ui-tabs .ui-tabs-nav li:not(:last-child) {
    margin: 0 54px 0 0;
  }

  .catalog-tabs__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 19px 0;
    font-size: 17.1px;
    text-align: justify;
  }

  .catalog-tabs__item {
    width: 46px;
    height: 46px;
  }

  .catalog-tabs__item::after {
    top: -10px;
    left: -10px;
    width: 61px;
    height: 61px;
    border: 3px solid var(--color-violet-active);
  }

  .catalog-tabs-accordion__header[aria-selected="true"] span {
    border: 2px solid #9D5CD0;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
  }

  .ui-accordion .ui-accordion-header {
    padding: 36.5px 0 34px 0;
    font-size: 24px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 25px 0;
  }

  .catalog-tabs-accordion__header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .catalog-tabs-accordion__header-text.is-active {
    color: var(--color-violet-active);
  }

  .catalog-tabs-accordion__header span {
    width: 50px;
    height: 50px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .catalog-tabs-accordion__header span::before {
    width: 12px;
    height: 12px;
  }

  .catalog-accordion-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .catalog-accordion-list__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.33%;
    flex: 0 1 33.33%;
  }

  .catalog-artists-box-wrapper-img__img {
    margin: 0 0 21px 0;
  }

  .catalog-artists-box__header {
    margin: 0 0 9px 0;
  }

  /* events */
  .container-events {
    margin: 0 0 80px 0;
  }

  .swiper-events {
    margin: 0 0 15px 0;
  }

  .events-header {
    margin: 0 0 32px 0;
    line-height: 32px;
  }

  .swiper-wrapper-events {
    margin: 0;
  }

  .events-slide {
    margin-bottom: 4.42vw;
    width: 41.27vw;
  }

  .events-slide__img-1 {
    background-image: url(../img/768/events/events_768-1.png);
  }

  .events-slide__img-2 {
    background-image: url(../img/768/events/events_768-2.png);
  }

  .events-slide__img-3 {
    background-image: url(../img/768/events/events_768-3.png);
  }

  .events-slide__img-4 {
    background-image: url(../img/768/events/events_768-4.png);
  }

  .events-slide__img-5 {
    background-image: url(../img/768/events/events_768-5.png);
  }

  .events-slide__info {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 16px 24px 46px 34px;
  }

  .events-slide__block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 380px;
  }

  .events-slide__header {
    margin-bottom: 18px;
    padding: 0;
    line-height: 33px;
  }

  .events-slide__text {
    margin: 0 0 20px 0;
  }

  .events-slide__href {
    position: absolute;
    bottom: 53px;
    left: 35px;
    margin: 0;
  }

  /* publocation */
  .container-publications {
    margin: 0 0 80px 0;
    padding: 84px 50px 71px 50px;
    background-image: url(../img/768/publications/publications-background_768.png);
  }

  .publications-select__header {
    margin: 0 0 9px 0;
    height: auto;
  }

  .publications-select__list-collapsed {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin: -2px 0 0 0;
  }

  .publications-select__item {
    margin: 0 0 10px 0;
    height: auto;
  }

  .publications-price-header {
    margin: -3px 0 7px 0;
  }

  .publication-book-swiper-navigation {
    margin: 0 0 28px 0;
  }

  .publication-book-swiper-button-next {
    margin: 0 0 0 20px;
  }

  .publication-book-swiper-pagination {
    margin: 0 7px;
  }

  .publication-book-slide-wrapper {
    margin: 0 0 9px 0;
  }

  .publication-book-slide-content {
    position: relative;
  }

  .publication-book-slide-content__header {
    width: 150px;
    font-size: 16px;
    line-height: 22px;
  }

  .publication-book-slide-content__artist {
    margin: 0 0 17px 0;
    font-size: 16px;
    line-height: 22px;
  }

  .publication-book-slide-content__price {
    position: absolute;
    top: 43.5vw;
    right: 0;
    font-size: 16px;
    line-height: 22px;
  }

  .publication-book-slide-content__button {
    width: 120px;
    font-size: 16px;
    line-height: 22px;
  }

  .publication-book-slide-content__button::before {
    width: 124px;
  }

  /* project */
  .container-project {
    margin: 0 0 79px 0;
  }

  .project-header {
    margin: 0 0 16px 0;
  }

  .project-content {
    margin: 0 0 26px 0;
    padding: 0 5px 0 0;
  }

  .project-partners__header {
    margin: 0 0 29px 0;
    font-size: 24px;
    line-height: 32px;
  }

  .project-content__tultip:nth-child(1) {
    -webkit-transform: translate(-5px, 2px);
    -ms-transform: translate(-5px, 2px);
    transform: translate(-5px, 2px);
  }

  .project-content__tultip:nth-child(2) {
    -webkit-transform: translate(-3px, 3px);
    -ms-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px);
  }

  .project-content__tultip:nth-child(3) {
    -webkit-transform: translate(-2px, 2px);
    -ms-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  .project-partners-swiper {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 73.17vw;
    flex: 0 1 73.17vw;
    height: 13.8vw;
  }

  /* contacts */
  .contacts__header {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-bottom: 17px;
  }

  .contacts-map__content {
    margin: 0 0 11px 0;
  }

  .contacts-map__header {
    font-size: 24px;
    line-height: 32px;
  }

  .contacts-map__adress {
    font-size: 16px;
    line-height: 32px;
  }

  .contacts-map__navigation {
    height: 699px;
  }

  .contacts-form {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    padding: 123px 45px 0 50px;
    width: 55.98vw;
    border: 1px solid var(--color-light-grey);
  }

  .contacts-form__header {
    margin: 0 0 16px 0;
    font-size: 24px;
    line-height: 32px;
  }

  .contacts-form__input {
    margin: 0 0 23px 0;
  }

  .contacts-form__button {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 0 37px 0;
    padding: 0 0 2px 0;
    width: 157px;
    min-height: 59px;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts-form__button::before {
    margin: 0 0 38px 0;
    width: 161px;
    min-height: 63px;
  }

  .contacts-social {
    margin: 0;
  }

  .contacts-social__header {
    margin: 0 0 16px 0;
    font-size: 24px;
    line-height: 32px;
  }

  .contacts-social__item {
    width: 60px;
    height: 60px;
  }

  .contacts-social__item:not(:last-child) {
    margin: 0 30px 0 0;
  }
}
